
    .icon-test {
      background-image: url('src/img/sprite-test.png');
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-test {
      background-image: url('src/img/sprite-test@2x.png');
      background-size: 248px 226px;
    }
    }

  $icon-test-colb {
    background-position: -0px -114px;
    width: 108px;
    height: 112px;
  }
  $icon-test-colb_a {
    background-position: -108px -114px;
    width: 108px;
    height: 112px;
  }
  $icon-test-flag {
    background-position: -0px -0px;
    width: 124px;
    height: 114px;
  }
  $icon-test-flag_a {
    background-position: -124px -0px;
    width: 124px;
    height: 114px;
  }

    .icon-test2 {
      background-image: url('src/img/sprite-test2.png');
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon-test2 {
      background-image: url('src/img/sprite-test2@2x.png');
      background-size: 295px 240px;
    }
    }

  $icon-test2-key {
    background-position: -0px -0px;
    width: 122px;
    height: 118px;
  }
  $icon-test2-key_a {
    background-position: -122px -0px;
    width: 122px;
    height: 118px;
  }
  $icon-test2-ok {
    background-position: -0px -118px;
    width: 112px;
    height: 122px;
  }
  $icon-test2-ok_a {
    background-position: -112px -118px;
    width: 112px;
    height: 122px;
  }
  $icon-test2-rss {
    background-position: -244px -0px;
    width: 51px;
    height: 50px;
  }
