$svg-common 
	background url(src/img/svg-sprite.svg) no-repeat

icon-mail
	@extend $svg-common
	background-position 0 0

icon-mail-xy
	width 52px
	height 52px

icon-mts
	@extend $svg-common
	background-position 50% 0

icon-mts-xy
	width 52px
	height 52px

icon-tel
	@extend $svg-common
	background-position 0 54.166666666666664%

icon-tel-xy
	width 52px
	height 52px

icon-velcom
	@extend $svg-common
	background-position 50% 54.166666666666664%

icon-velcom-xy
	width 52px
	height 52px

icon-vk
	@extend $svg-common
	background-position 100% 0

icon-vk-xy
	width 52px
	height 52px

icon-youtube
	@extend $svg-common
	background-position 100% 54.166666666666664%

icon-youtube-xy
	width 52px
	height 52px

icon-youtube_play
	@extend $svg-common
	background-position 0 100%

icon-youtube_play-xy
	width 44px
	height 44px

