/* ==========================================================================
   Variable and grid setup
   ========================================================================== */

// variableb color global
$c-text = #424242
$c-main = #ed1c24
$c-sec = #2f2f2f
$c-link = $c-text
$c-hover = $c-sec
$c-error = red
$c-header = $c-main
$c-placeholder = #979797
$c-bdr = #eee


$btn_main= #939393
$btn_ok= red


//variable font global
$f-base = tahoma, verdana, helvetica, sans-serif
$f-size  = 13px
$f-line = 1.5
$f-header = $f-base

//variable layout global
$link-dec = none
$s-p = 1.5em
$s-b = 20px

$footersize = 150px


//variable project

/* 
   font
   ========================================================================== */

/*  webfont(family, file, weight = 'normal', style="normal") */

/* 
   grid
   ========================================================================== */

jeet = {
  gutter: 3,
  parent-first: false,
  max-width: 1200px
}

.container
  center(980px, 20px)
  cf()
  
/*! viewport*/

body
  background #fff
  -webkit-font-smoothing: antialiased 
    


