$svg-common 
	background url(svg/sprite.css-f2ebab4c.svg) no-repeat

.svg-mail
	@extend $svg-common
	background-position 0 0

.svg-mail-dims
	width 40px
	height 40px

.svg-mts
	@extend $svg-common
	background-position 50% 0

.svg-mts-dims
	width 40px
	height 40px

.svg-tel
	@extend $svg-common
	background-position 0 55.55555555555556%

.svg-tel-dims
	width 40px
	height 40px

.svg-velcom
	@extend $svg-common
	background-position 50% 55.55555555555556%

.svg-velcom-dims
	width 40px
	height 40px

.svg-vk
	@extend $svg-common
	background-position 100% 0

.svg-vk-dims
	width 40px
	height 40px

.svg-youtube
	@extend $svg-common
	background-position 100% 55.55555555555556%

.svg-youtube-dims
	width 40px
	height 40px

.svg-youtube_play
	@extend $svg-common
	background-position 0 100%

.svg-youtube_play-dims
	width 32px
	height 32px

